body{
  background-image: url(../images/black\ background.jpg); 
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover; 
  font-family:'Times New Roman', Times, serif;
  color: silver;

  margin: 20px;
}
a:link{
    color: black;
    text-decoration: none;
 }
 a:visited{
    color: black;
 }
 a:hover{
    background: #f88396;
    color: yellow;
 }
 .lightroomimages{
   width: 200px;
   height: 200px;
 }