
header{
   
   padding: 70px;
   border-style: groove;
   border-radius: 1em;
}
   

body{
   background-color: grey;
   
    font-family: 'Times New Roman', Times, serif;
    font-size: 16px;
}


   

h1{
    font-weight: bolder;
    font-size: 30px;
}
.storehome, .homelinks{
    text-decoration: none;
    font-weight: bold;
    color: rgb(255, 175, 27);
    font-size: 20px;
font-family: Georgia, 'Times New Roman', Times, serif;
}
aside{
     font-weight: bolder;
     font-size: 40px;
     font-family: Verdana, Geneva, Tahoma, sans-serif;
     text-transform: uppercase;
     width: fit-content;
     text-align: center;
   float: right;
   border-style: inset;

   
    }
 nav{
   align-content: center;
   text-align: center;
   padding-top: 60px;
   padding-left: 10px;
   
   
     
  }
  a:link{
     color: blue;
  }
  a:visited{
     color: black;
  }
  a:hover{
     background: #f88396;
     color: yellow;
  }
  .my{
     color: black;
     font-family: Verdana, Geneva, Tahoma, sans-serif;
     padding-left: 30px;
 
  }
  .portfolio{
     color: rgb(34, 31, 219);
     font-family: cursive;
     font-size: 50px;
     padding-left: 20px;
  }
  
  .logo{
   height: 70px;
   width: 70px;
  }
  #logotheme{
   float: left;
   width: fit-content;
   

  }
  .theme{
   font-family: 'Times New Roman', Times, serif;
   font-weight: bolder;
   margin-top: 0px;
  }
  .introduction{
   text-align: center;
   

  }
  .hello{
   font-weight: bolder;
   font-family: Georgia, 'Times New Roman', Times, serif;
   color:black;
   font-size: 20px;
   
  }
  .name{
   font-size: 40px;
   font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif\;
  }
  .freelance{
   font-family: Georgia, 'Times New Roman', Times, serif;
   font-size: 20px;
   font-weight: bolder;
   color: black;
  }
  .creative{
   font-family: Georgia, 'Times New Roman', Times, serif;
   font-size: 20px;
   font-weight: bolder;
   color: blue;
  }
  

